@using Microsoft.AspNetCore.Identity
@using RentItEasy.Common
@inject SignInManager<RentItEasy.Data.Models.Account> SignInManager
@inject UserManager<RentItEasy.Data.Models.Account> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            if (User.IsInRole(GlobalConstants.agencyRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Ad" asp-action="Create" asp-area="Agency">Create Ad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Ad" asp-action="MyAds" asp-area="Agency">My Ads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Appointment" asp-action="GetAppointments" asp-area="Agency">My Appointments</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="User" asp-controller="Profile" asp-action="ViewAgencies">View Agencies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        }
    </ul>
