@model RentItEasy.RentItEasy.Web.ViewModels.Account.RegisterAsUserInputModel
@{
    ViewData["Title"] = "Register";
}
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>

<form asp-controller="Account" asp-action="RegisterUser" style="max-width:500px;margin:1%">
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" asp-for="Username" placeholder="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-male icon"></i>
        <input class="input-field" asp-for="FirstName" placeholder="First name" >
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-male icon"></i>
        <input class="input-field" asp-for="LastName" placeholder="Last name">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" asp-for="Number" placeholder="Phone number" >
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="form-control" asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" asp-for="Password" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" asp-for="ConfirmPassword" placeholder="Confirm password">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">Register as Company</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}