@model RentItEasy.RentItEasy.Web.ViewModels.Account.RegisterAsUserInputModel
@{
    ViewData["Title"] = "Register";
}
<header>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/register.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>

<form style="max-width:500px;margin:5%;">
    <div class="input-container">
        <i class="fa fa-user icon"></i>
        <input class="input-field" type="text" placeholder="Username" name="usrnm">
    </div>

    <div class="input-container">
        <i class="fa fa-phone icon"></i>
        <input class="input-field" type="tel" placeholder="Phone number" name="phoneNumber">
    </div>

    <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <input class="input-field" type="text" placeholder="Email" name="email">
    </div>

    <div class="input-container">
        <i class="fa fa-address-card icon"></i>
        <input class="input-field" type="text" placeholder="Address" name="address">
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Password" name="psw">
    </div>

    <div class="input-container">
        <i class="fa fa-key icon"></i>
        <input class="input-field" type="password" placeholder="Confirm password" name="psw">
    </div>

    <button type="submit" class="btn">Register</button>
</form>
