/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.serv ul {
    display: inline;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px;
    text-align: left;
}

    .serv ul li {
        list-style: none;
        display: inline-block;
        padding: 5px;
        width: 29%;
    }

        .serv ul li span {
            padding: 5px;
        }

.adView {
    background-color: azure;
    margin-right: 20px;
    border-radius: 5px 6px;
    margin-bottom: 20px;
}


.imgView {
    height: 180px;
    width: 292px;
    border-radius: 5px 6px;
}

.imagesView {
    height: 180px;
    width: 287px;
    border-radius: 5px 6px;
    object-fit: fill;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    width: auto;
}

body {
    background-image: url(../img/bg.png);
}

html, body {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: azure;
}

.p {
    overflow-wrap: break-word;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    margin: 10px;
    position: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

content {
    display: inline-block;
}

.footer {
    height: 40px;
    width: auto;
    background-color: azure;
    position: fixed;
    display: inline-block;
    padding-top: 20px;
}

* {
    box-sizing: border-box;
}

/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

    .input-field:focus {
        border: 2px solid dodgerblue;
    }

/* Set a style for the submit button */
.btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 98%;
    opacity: 0.9;
    margin: 10px;
    position: center
}

    .btn:hover {
        opacity: 1;
    }

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
